@page
@using RainDropWeb.Locale
@model RainDropWeb.Pages.Index

@{
    Layout = "Wrapper";
}


<div class="mdui-container mdui-row" style="padding-top: 60px">
    <div class="mdui-col-xs-8 mdui-col-offset-xs-2 mdui-col-md-5 mdui-col-offset-md-1">
        <h1 class="mdui-typo-title">@Localization.Localize("home-available-devices")</h1>
        <p>@Localization.Localize("home-click-to-connect")</p>
        <ol class="mdui-list" id="devices-list"></ol>
        <script type="text/javascript">
            $("#devices-list").on("click", "li", function () {
                if ($(this).attr("disabled") === "disabled")
                    return;

                const device = $(this).text();
                $.ajax({
                    url: `/Api/Connect/${device}`,
                    type: "POST",
                    success: function (data) {
                        if (data.success) {
                            document.connectedDevice = device;
                            getDeviceDetail();
                            mdui.snackbar({
                                message: `@Localization.Localize("home-msg-connected")`
                                    .replace("{device}", device),
                                position: "right-top"
                            });
                        } else {
                            mdui.snackbar({
                                message: `@Localization.Localize("home-msg-fail-to-connect")`
                                    .replace("{device}", device).replace("{error}", data.error),
                                position: "right-top"
                            });
                        }
                    }
                });
            });

            // Initialize it to some must-different value
            let devices = [-1];
            setInterval(function () {
                $.ajax({
                    url: "/Api/Info",
                    type: "GET",
                    success: function (data) {
                        if (devices.toString() === data.toString())
                            return;

                        devices = data;
                        const deviceList = $("#devices-list");

                        deviceList.empty();
                        if (data.length === 0) {
                            deviceList.append(`<li class=\"mdui-list-item\" disabled="disabled"><i>@Localization.Localize("home-no-device")</i></li>`);
                        }

                        for (let i = 0; i < data.length; i++) {
                            if (data[i] === "") {
                                deviceList.append(`<li class=\"mdui-list-item\" disabled="disabled"><i>@Localization.Localize("home-unsupported-device")</i></li>`);
                                continue;
                            }

                            deviceList.append(`<li class="mdui-list-item mdui-ripple">${data[i]}</li>`);
                        }
                    },
                    error: function (data) {
                        if (data.status === 500)
                            mdui.alert(`@Localization.Localize("site-msg-dll-error")`);
                    }
                });
            }, 1000);
        </script>
    </div>

    <div class="mdui-col-xs-8 mdui-col-offset-xs-2 mdui-col-md-5 mdui-col-offset-md-1">
        <h1 class="mdui-typo-title">@Localization.Localize("home-currently-connected")</h1>
        <p id="current-connected"></p>
        <div style="display: flex;">
            <button class="mdui-btn mdui-color-theme" id="disconnect-button"
                    style="margin: 20px">
                @Localization.Localize("home-disconnect")
            </button>
            <button class="mdui-btn mdui-color-theme" id="refresh-button"
                    style="margin: 20px">
                @Localization.Localize("home-refresh")
            </button>
        </div>
        <script type="text/javascript">
            const getDeviceDetail = () => {
                $.ajax({
                    url: "/Api/Current",
                    type: "GET",
                    success: function (data) {
                        const currentConnected = $("#current-connected");
                        if (data.data.name === "") {
                            currentConnected.text(`@Localization.Localize("home-no-device")`);
                            return;
                        }

                        document.connectedDevice = data.data.name;
                        currentConnected.html(`<b>${data.data.name}</b><hr /><pre>${JSON.stringify(data.data, null, 4)}</pre>`);
                    }
                })
            };

            getDeviceDetail();

            $("#disconnect-button").on("click", function () {
                $.ajax({
                    url: "/Api/Disconnect",
                    type: "POST",
                    success: function () {
                        document.connectedDevice = "";
                        getDeviceDetail();
                        mdui.snackbar({
                            message: `@Localization.Localize("home-msg-disconnected")`,
                            position: "right-top"
                        });
                    }
                });
            });

            $("#refresh-button").on("click", function () {
                getDeviceDetail();
            });
        </script>
    </div>
</div>